$DeepDark: #202123;
$Gray: #B9B9B9;
$White: #FFFFFF;
$BottomBlue: #7284E4;
$Blue: #5763B3;
$LightBlue: #EAF0FA;
$Dark: #707276;
$BgFilter: rgba(245, 245, 245, 1);
$BgFilterTrans: rgba(245, 245, 245, 0);
$Green: #55BB06;
$MiddleGray: #E1E1E1;
$Brown: #906F45;
$LightGray: #EBEBEB;
$BackgroundClr: #D7D7D7;
$FilterIcon: #C4C4C4;
$Shadow: rgba(0, 0, 0, 0.15);
$CardBuyBg: #F5F5F5;
$Orange: #FF9900;