@font-face {
  font-family: 'icomoon';
  src:  url('@/assets/icomoon.eot?awngqd');
  src:  url('@/assets/icomoon.eot?awngqd#iefix') format('embedded-opentype'),
    url('@/assets/icomoon.ttf?awngqd') format('truetype'),
    url('@/assets/icomoon.woff?awngqd') format('woff'),
    url('@/assets/icomoon.svg?awngqd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  color: transparent;
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-accept:before {
  content: "\e901";
}
.icon-icon-close-filter:before {
  content: "\e900";
}
